--- 
layout: default 
---
<div class="front-hero clearfix">
    <div class="front-hero-wrapper clearfix">
        {% for front_hero in page.front_hero %}
        <div class="slide">
            <h1>{{front_hero.title}}</h1>
            <img src="{{front_hero.image}}" alt="{{front_hero.title}}">
        </div>
        {% endfor %}
    </div>
</div>
<div class="content-bg clearfix">
    <div class="subpage clearfix">
        <div class="white-bg">

            <h2>Help CHAMP Raise $20,000.00</h2>
            <h3>Join this Challenge to match Triple Crown's gift by donating any amount you see fit.</h3>

        <div class="clearfix">
            <form id="stripeForm" action="https://wt-bbb812ec6f1b786e8adf620306562f3c-0.sandbox.auth0-extend.com/champ-donate?currency=USD&description={{page.stripe.description}}&amount={{page.stripe.price}}" method="POST">
            <div class="clearfix">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                data-key="{{page.stripe.public_key}}" 
                data-amount= 
                data-name="CHAMP" 
                data-description="{{page.stripe.description}}" 
                data-label="{{page.stripe.button_label}}"
                data-zip-code="true" 
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png" 
                data-locale="auto" 
                data-allow-remember-me="true">
                </script>
            </div>
   
                <div class="left form-group field-first-name"> <label for="first-name" class="fb-text-label">
                Donation Amount:</label> 
                <div class="input-wrapp">
                <span class="add-on">$</span>
                <input  type="text" name="donationAmount" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"  id="donationAmount"  value="50" size="10" maxlength="10" min="0" required="">
                <span class="add-on">.00</span>
                </div>
                </div>


                {% comment %} <div class="u-field-radio-group" data-test="radio-group">
                    <label class="u-field-radio-group-option RadioGroup-option-1Wah9">
                    <input class="u-field-radio-group-input" name="donationOptions" type="radio" value="1000">
                    <span class="u-field-radio-group-label RadioGroup-label-11R4u">$10.00</span>

                    <label class="u-field-radio-group-option RadioGroup-option-1Wah9">
                    <input class="u-field-radio-group-input" name="donationOptions" type="radio" value="2500">
                    <span class="u-field-radio-group-label RadioGroup-label-11R4u">$25.00</span>

                    <label class="u-field-radio-group-option RadioGroup-option-1Wah9">
                    <input class="u-field-radio-group-input" name="donationOptions" type="radio" value="5000" checked>
                    <span class="u-field-radio-group-label RadioGroup-label-11R4u">$50.00</span>

                    <label class="u-field-radio-group-option RadioGroup-option-1Wah9">
                    <input class="u-field-radio-group-input" name="donationOptions" type="radio" value="10000">
                    <span class="u-field-radio-group-label RadioGroup-label-11R4u">$100.00</span>
                </label>

                </div> {% endcomment %}
            </form>
            <div id="stripe-message-success">{{page.stripe.success_message}}</div>
            <div id="stripe-message-fail">{{page.stripe.failure_message}}</div>
        </div>

            <p>Earlier this year, the highly respected Triple Crown Sports joined forces
with CHAMP donating $10,000 as a Community Challenge Grant in hopes
of lighting a spark to raise $20,000 so we may reach even more Fort
Collins youth and coaches as well as offer new and exciting educational
opportunities including a Women in Coaching focused workshop.</p>

<div id="centered">
        <!--add this line to the html where you want the thermometer-->
        <div id="goal-thermometer"></div>
    </div>

        </div>
    </div>
</div>